<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password - Fitness Diary</title>
    <link rel="icon" href="{% static 'fd4.ico' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

{% block title %}Password reset complete{% endblock %}

    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
{% endblock %}