<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up - Fitness Diary</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'fd4.ico' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="body-content-login">
        <img src="{% static 'images/logo.png' %}" width="1000" height="130">
        <div class="login-signin">
            <h1> Sign up </h1>
            <a href="{% url 'login' %}">Log in</a>
        </div>
        <form class="signup-form" method="post">
            <div class="signup-form-inputs">
                {% csrf_token %}
                <!-- Поле username -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text"
                        name="{{ form.username.name }}"
                        class="form-control"
                        placeholder="Username"
                        aria-label="Username"
                        aria-describedby="basic-addon1"
                        value="{{ form.username.value|default:'' }}"
                        tabindex="1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon-email">Email</span>
                    <input type="email"
                        name="{{ form.email.name }}"
                        class="form-control"
                        placeholder="Email"
                        aria-label="Email"
                        aria-describedby="basic-addon-email"
                        value="{{ form.email.value|default:'' }}"
                        tabindex="1">
                </div>

                <!-- Поле password1 -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Password</span>
                    <input type="password"
                        name="{{ form.password1.name }}"
                        class="form-control"
                        placeholder="Password"
                        aria-label="Password"
                        aria-describedby="basic-addon2"
                        tabindex="1">
                </div>

                <!-- Поле password2 (подтверждение пароля) -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Confirm</span>
                    <input type="password"
                        name="{{ form.password2.name }}"
                        class="form-control"
                        placeholder="Confirm Password"
                        aria-label="Confirm Password"
                        aria-describedby="basic-addon3"
                        tabindex="1">
                </div>
                </div>
                <div class="attentions">
                    <!-- Вывод общих ошибок формы -->
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <!-- Вывод ошибок для конкретных полей -->
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="alert alert-warning">
                        <ul class="mb-0 mt-2">
                            {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            <div class="login-form-button">
                <input type="submit" class="btn btn-outline-dark" value="Sign up" tabindex="1">
            </div>
        </form>
    </div>

    <script src="{% static 'JS/reload_page.js' %}"></script>
</body>